@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300;800&family=Ubuntu:wght@300&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300;800&family=Ubuntu:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


.Home{
    background-color: #020202;
    
position: relative;
    color: white;
   
}
/* java script
.Home_u{
    margin-top:4vw;
}
 .navBar{
    position:fixed;
    background-color: crimson;
    width: 100%;
    padding:0 1.2vw;
    display: flex;
    top:0;
    align-items: center;
    z-index: 1;
    
} 
.info_u{
    position: relative;
top:3vw;

} */

.navBar1{
    
   top:0.0000001vw;
    padding:1.2vw;
    display: flex;
    align-items: center;
    background: crimson;
    position: fixed;
    z-index: 3;
    height: 5vw;
    width: 100%;
    animation: animate 0.5s ease-out;
    
    
}
@keyframes animate {
    0%{
        transform: translateY(-10vw);
    }
   
    
}


.newNav i, .navBar i{
    display: none;
}
.navBar {
    position: relative;
    top:0vw;
    padding:1.2vw;
    display: flex;
    align-items: center;
   
} 
.navBar span{
    cursor: pointer;
    font-size: 2.5vw;
    margin-left:8vw;
    font-family: 'ubuntu',sans-serif;
    font-weight: bold;
}
.spanStyle{
    cursor: pointer;
    font-size: 2.5vw;
    margin-left:8vw;
    font-family: 'ubuntu',sans-serif;
    font-weight: bold;
}

.link{
margin-left:42vw;

/* width:28vw; */
height: 4vw;
padding: 0 1.2vw;
display: flex;
align-items: center;

}

.link a{

padding:0 0.7vw;
text-decoration: none;
color: white;
font-size: 1.1vw;
font-family: 'ubuntu',sans-serif;


}
.link a:hover{
    color:crimson;



}
.linkh a:hover{
    color:black;
}

.info{
display: flex;

padding:1.2vw;    

margin-top:5vw;
margin-left: 8vw;

}
.intro1{
    display: flex;
   font-size: 1.5vw;
    flex-direction: column;
}
.intro2 {
    width: 30vw;
   
}
.intro1 span{
    font-size: 4vw;
 font-family: 'ubuntu',sans-serif;
   font-weight: bold;
}
.intro2{
    display: flex;
    font-size: 2.5vw;
    padding: 0.5vw;
    width: 40vw;

}
.intro2 span{
    margin-left: 1vw;
}
.type{
    color:crimson;
    position: relative;
}


/* Animated Typing  */
.type:before{
            content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			top:0;
			left:0;
			background: black;
			border-left: 3px solid rgb(232, 230, 230);
			animation:animated 4s steps(12) infinite;
}
.type2{
    position: relative;
    color: crimson;
    font-family: 'ubuntu',sans-serif;
}
.intro3{
    font-size: 2.5vw;
    
    width: 42vw;
    font-family: 'ubuntu',sans-serif;
    overflow: hidden;
}
.type2:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    background: white;
    border-left: 3px solid rgb(12, 12, 12);
    animation:animated 4s steps(12) infinite;
}
@keyframes animated {
    40%,60%{
        
        left:calc(100% + 4px)
    }
    100%{
        left:0;
    }
    
}




.intro button{
position: relative;
cursor: pointer;
width: 8vw;
padding: 0.9vw;
font-size: 1.4vw;
border-radius: 1vw;
font-weight: bold;
color: white;
border: 0.2vw solid crimson;
background-color:crimson ;
top:1vw;
transition: background-color 1s,color 1s;
}
.intro button:hover{
background-color: #020202;
color:crimson;
}

.img img{


position: relative;
left:15vw;
bottom: 1vw;
height: auto;
width:29vw;
display: inline-block;  
}

/* About */

.About .aboutMe p{
display: block;
color: crimson;
font-size: 1.8vw;
} 
.About .aboutMe span{
font-size: 2.5vw;
font-weight: bold;
}
.About .aboutMe span::after{
    content: 'Who I am';
    position: absolute;
    bottom: -1vw;
    left: 50%;
    font-size: 1.5vw;
    color: crimson;
    padding: 0 5px;
    background: #fff;
    transform: translateX(-50%);

}

.aboutMe span::before{
    content: "";
    position: absolute;
    bottom: -0.4vw;
    left: 49.5vw;
    width: 14vw;
    height: 0.2vw;
    background: #111;
    transform: translateX(-50%);
   
}
.aboutMe{
position: relative;
top: 4vw;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
padding:0.8vw;
font-size: 1.2vw;

}
.about1{
display: flex;
align-items: center;
margin-top:4vw;
margin-bottom: 6vw;

}
.picture img{
border: 0.4vw solid black;
width:28vw;
height: auto;
border-radius: 50%;
margin-left: 7vw;
margin-top: 3vw;
}
.text{
width: 40vw;
margin-left: 12vw;
padding-top:1.5vw;
}
.text h2{
font-size: 3vw;
font-family: 'ubuntu',sans-serif;

}
.text p{

margin-top: 1vw;
font-size: 1.4vw;
text-align: justify;

}
.text button{
cursor: pointer;
padding: 1vw;
font-size: 1.2vw;
border-radius: 1vw;
margin-top: 1vw;
background: crimson;
color: white;
border: 0.04vw solid rgb(13, 13, 13);
transition: backgound 2s, border 1s,color 0.5s;
}
.text button:hover{
background-color: black;
border: 0.04vw solid crimson;
color:crimson;
}


/* my services  */
.services{
background-color: #020202;
padding-bottom: 4vw;
color:white;
}
.service1{
font-family: Arial, Helvetica, sans-serif;
display: flex;
align-items: center;
flex-direction: column;
position: relative;
top:7vw;
}
.service1 span{
font-size: 1.3vw;
color: crimson;
}
.service1 h1::after{
    padding: 0 0.5vw;
    content: 'What I provid';
    color:crimson;
    font-size: 1.3vw;
    position: absolute;
    background-color: black;
    bottom: -1.6vw;
    left: 45vw;


}
.service1 h1::before{
    content: '';
    background: white;
    left:41.6vw;
    width:16vw;
    height: 0.2vw;
    position: absolute;
    bottom:-1vw;
}



/* Grid Always use on parent */
.serv1, .serv2, .serv3{
display: grid;
grid-template-columns: repeat(3,25vw);
justify-content: center;
column-gap: 5vw;
row-gap: 5vw;

}
.service2{
    margin-top: 12vw;
    display: grid;
    grid-template-rows: repeat(3,18vw);
    row-gap: 2vw;
}

.box{
    border-radius: 1vw;
    width:24vw;
    height: 18vw;
    background-color: rgba(72, 70, 70,0.5);
    transition: background-color 1s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    
}
.box i{
    font-size: 3vw;
color:crimson;
transition: color 1s;
}

.box h2{
    font-size: 2vw;
}
.box p{
font-size: 1.2vw;
width:20vw;
text-align: justify;
}
.box:hover{
    background-color: crimson;
}
.box:hover i{
    color:white;
}



/* My skills */
.skills{
  
    background: #fff;
  
}
.skills1{
    font-family: 'ubuntu',sans-serif;
    font-size: 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top:6vw;
}
.skills1 h1::before{
    content: '';
    background: black;
    position: absolute;
    width: 16vw;
    height: 0.2vw;

    bottom: -1.25vw;
    left:42vw;
}
.skills1 h1::after{
    
    padding:0 0.5vw;
    content: 'What I know!';
    color: crimson;
    background: white;
    position: absolute;
    font-size: 1.3vw;
    bottom: -1.8vw;
    left:45.5vw;

}  


.skills2{
   margin-top:15vw;
    margin-left: 10vw;
    display: flex;
    

}
.skills2a{
    width: 25vw;
    text-align: justify;
    font-size: 1vw;
    
    
}
.skills2a p{
    margin-top: 1vw;
    
}
.skills2a button{
    padding: 0.5vw;
    font-size: 1.3vw;
    border-radius: 0.5vw;
    background: crimson;
    margin-top:1vw;
    color:white;
    border: none;
    cursor: pointer;
}
.skills2b{
    margin-left: 35vw;
    position: relative;
    bottom: 5vw;

    
}
.skills2b .box1{
    padding-top: 0.3vw;
    font-size: 1vw;
    display: flex;
    flex-direction: column;
    
}
.box1 span{
    font-size: 1.2vw;
}

.cssline ,  .htline,  .jsline,  .jaline, .rline, .pline, .cline{
    background: rgba(193, 188, 188,0.5);
    width:10vw;
   
}
.cssline p{
    width: 80%;
   
}

 .htline p{
    width: 60%;
    
 } 
 .jsline p{
    width: 40%;
   

 }
 .jaline p{
    width: 30%;
    
 }
 .rline p{
 width: 40%;}
 .pline p{
    width: 60%;
   

 }
 .cline p{
    width: 40%;
    
 }
 .width-style{
    font-size: 0.8vw;
    background: crimson;
    color: white;
    text-align: center;
 }



 /* styling on contact */
 .contact{
    padding-bottom: 3vw;

    color: white;
    background: black;
    
 }
 .contact1{
    font-size: 1.6vw;
    font-family: 'ubuntu',sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top:5vw;
 }
 .contact1 h1::after{
    content:'get in touch';
    color:crimson;
    padding:0 0.5vw;
    background: black;
    position: absolute;
    bottom: -2vw;
    font-size: 1.4vw;
    left:45.5vw;
 }
 .contact1 h1::before{
    content: '';
    background: white;
    height: 0.1vw;
    width:15vw;
    position: absolute;
    bottom: -1.5vw;
    left: 42vw;

 }

 .contact2{
    position: relative;
    margin-top: 12vw;
    
    display: flex;
    margin-left: 11vw;

 }
 .contact2a{
    height: 20vw;
   
 }
 .contact2a1{
    padding: 0.5vw;
    margin-bottom: 1vw;
 }
 .contact2a1 span{
    font-size: 1.3vw;
    font-family: 'ubuntu',sans-serif;
 }
 .contact2a1 p{
    width: 20vw;
    margin-top: 1vw;
 }

 .flex-display{
    display: flex;
 }
 .ml{
    margin-left:2vw;
 }
 .mt{
    margin-top: 1.5vw;
 }
 .fs{
    font-size: 1.3vw;

 }
 .fs-1vw{
    font-size: 1.6vw;
 }
 .fc-white{
color: white;
 }
 .td-none{
    text-decoration: none;
 }
 .fc-crimson{
   color: crimson;
 }
 .ff-ubuntu{
    font-family: 'ubuntu',sans-serif;
 }

 .contact2b{
    margin-left:20vw;
    height: 27vw;}
    
 .contact2b h2{
    color:crimson;
    font-family: 'ubuntu',sans-serif;
 }

 .contact2b form input{
    font-size: 1.5vw;
    margin-top: 1.5vw;
    width: 20vw;
    height: 3vw;
    background: none;
    border:0.1vw solid crimson;
    color:rgba(221, 20, 60, 0.5);
    padding: 0.6vw;
    border-radius: 0.5vw;
 }
 .contact2b form input[placeholder = "Subject.." ]{
width: 41vw;
 }
.formb textarea{
    background: none;
    padding: 0.5vw;
    color:white;
    margin-top: 1.5vw;
    border-radius: 0.5vw;
    font-size: 01.3vw;
    border:0.1vw solid crimson;

}
.formb textarea::placeholder{
    color:rgba(243, 238, 238,0.5);

}
.contact2b form input[placeholder = "Email.." ]{
        margin-left: 1vw;
         }
        
 .contact2b form input::placeholder{
    color:rgba(243, 238, 238,0.5);
    
    font-size: 1.2vw;
 }
 .contact2b form input::-ms-fill{
    font-size: 1.4vw;
 }

 .formb button{
    background: crimson;
    color:white;
    border: 0.1vw solid crimson;
    border-radius: 0.4vw;
    padding: 0.5vw;
    margin-top: 1.5vw;
    font-size: 1.5vw;
    font-family: 'ubuntu',sans-serif;
    transition: background-color 1s,color 1s,border 1s;
 }
 .formb button:hover{
    background-color: black;
    color: crimson;
    border: 0.1vw solid white;
    cursor: pointer;
 }
 
 .contact3{
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .contact3 ul{
    display: flex;
    align-items: center;
    justify-self: center;
 }
 .contact3 ul li{
    padding: 0 0.5vw;
    list-style: none;
 }
 .contact3 ul li a {
    color:crimson;
    font-size: 1.5vw;
 }
 .footer{
   height: 10vh;
    border: 0.1vw solid black;
    text-align: center;
    display: flex;
    justify-content: space-between;
    padding: 0 10vw;
    align-items: center;
    font-size: 1.3vw;
    color:crimson;
    font-weight: bold;
    font-family: 'ubuntu',sans-serif;
   
 }


/*right-side-butn */
 .right-side-butn{
    display:block;
    position: sticky; 
    top:90vh;
    z-index: 2;
    
}

.right-side-butn i{
   margin-left: 96vw;
    background: crimson;
    padding: 0.6vw;
    border-radius: 0.8vw;
    font-size: 1.4vw;
    color: white;
   cursor: pointer;
   z-index: 2;
};

.info .intro .typing{
    color: crimson;
    
    font-size: 1.5vw;
}



/* animation */
.animation span{
    position: relative;
    top:10vw;
     left: 0vw;
     font-size:0;
    font-weight: bold;
    color: crimson;
    animation: animte 2s ease-in 0.5s 1;
    
     
}
.toggle{
    display: none;
}

@media screen and (max-width:1500px) {
    .intro{
        display: flex;
        flex-direction: column;
        
       margin-right: 30vw;
    }
    .link{
        display: none;
    }
    .intro1{
        margin-top:5vw;
        
        width: 70ve;
        display: flex;
       
        justify-content: center;
    }
    .intro2{
       
        font-size: 6vw;
        width: 60vw;
        margin-top: 4vw;
        overflow: hidden;
    }
    .info button{
        height: 8vw;
        width: 20vw;
        font-size: 4vw;
        margin-top: 8vw;
        
    }
    .info img{
      height: 60vw;
      width: auto;
      margin-left: 5vw;
        margin-top:4vw;
        position: relative;
        bottom: 12vw;
        left:33vw;
    }
    .intro1 h3{
        font-size:5vw ;
    }
    .intro1 span{
        font-size: 10vw;
        
    }
    .info{
        margin-top: 15vw;
        display: flex;
        flex-direction: column;
        
    }


/* //navbar */

   .newNav i{
    display: block;
    cursor: pointer;
    position: absolute;

   }
   .newNav{
    background-color: crimson;
    height: 12vw;
    position: fixed;
    width: 100%;
    z-index: 3;
   top:0vw;
    display: flex;
    padding: 0 3vw;
    font-size: 8vw;
    color: black;
    
    
   }
   .newNav span{
    font-size: 8vw;
   color:black;
   margin-left: 60vw;
   
   }

   .toggle{
    position: fixed;
   border: 0.5vw solid crimson;
    height: 80vh;
    top:12.5vw;
    font-size: 7vw;
    z-index: 3;
    padding: 3vw;
    background: black;
    transform:translateX(-100%);
    transition: transform 0.2s;
    display: flex;
    flex-direction: column;

   }
   .linkSite{
    display: flex;
    flex-direction: column;
    border-bottom: 0.6vw solid crimson;
    width: 100%;
    height: 80vw;
    padding: 2vw;
   }
   .linkSite a{
  text-decoration: none;
    color:white;
    font-weight: bold;
    font-family: 'ubuntu',sans-serif;
    margin-top: 4vw;
   }
   .social{
    margin-top: 2vw;
    color: crimson;
    display: flex;
    align-items: center;
    flex-direction: column;
   }
   .social ul li{
    list-style: none;
    padding: 2vw;
    font-size: 9vw;
    

   }
   .social ul li i{
    color:crimson;
   }
   .social ul{
    display: flex;
    
   }
   .right-side-butn i{
    font-size: 8vw;
    position: fixed;
    right:4vw;
    padding: 1.5vw;
    border-radius: 2vw;
    z-index: 4;
    top:90vh;

   }



   /* About */
 .About{
    border: 2px solid crimson;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
 }
 .aboutMe{

    font-size: 5vw;
 }
 .About .aboutMe span::after{
    content: 'Who I am';
    position: absolute;
    bottom: -2vw;
    left: 50%;
    font-size: 3.9vw;
    color: crimson;
    padding: 0 0.5vw;
    background: #fff;
    transform: translateX(-50%);

}

.aboutMe span::before{
    content: "";
    position: absolute;
    bottom: -0.4vw;
    left: 49.5vw;
    width: 40vw;
    height: 0.4vw;
    background: #111;
    transform: translateX(-52vw);
   
}

 .About .aboutMe span{
    font-size: 8vw;
    height: 10vw;
 }

.About .about1{
    margin-top: 10vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: start;
    
   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
}

.picture img{
   height:40vh;
   width: auto;


}
.about1 .text{
    margin-left: 0;
   width: 90vw;
    height: auto;
    margin-top: 10vw;
    padding: 1vw;


}
.text .intro3{
    font-weight: bold;
    height: auto;
    font-size: 6vw;
    
    width: auto;
    overflow: hidden;
}
.text p{
    height: auto;
    margin-top: 4vw;
    font-size: 5vw;
}
.text button{
    font-size: 5vw;
    margin-top: 7vw;
}

/* service  */

.services .service1{

font-size: 5vw;
}
.service1 h1::after{
    padding: 0 1vw;
    content: 'What I provid';
    color:crimson;
    font-size:6vw;
    position: absolute;
    background-color: black;
    bottom: -7vw;
    left: 32vw;


}
.service1 h1::before{
    content: '';
    background: white;
    left:12.6vw;
    width:80vw;
    height: 0.5vw;
    position: absolute;
    bottom:-3.8vw;
}


.services .service2{

    margin-top: 20vw;
    display: grid;
    grid-template-rows: auto;
    row-gap: 5vw;
}
.serv1 , .serv2 , .serv3{
    
   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.serv1 .box , .serv2 .box , .serv3 .box{
    padding: 5vw;
    width: 90vw;
    height:auto;
    
}
.serv1 .box p , .serv2 .box p , .serv3 .box p{

    font-size: 6vw;
    width: auto;
    padding:0 4vw;
}
.serv1 .box i , .serv2 .box i , .serv3 .box i{
padding: 2vw 0vw;

font-size:12vw ;}

    

.serv1 .box h2 , .serv2 .box h2 , .serv3 .box h2{
    font-size: 7vw;
    padding: 2vw 0vw;

}


/* skills  */
.skills{
    border: 2px solid black;
    display: flex;
    flex-direction: column;


}
.skills .skills1{
    display: flex;
    align-items: center;
    font-size: 6vw;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
.skills .skills1 h1:after{
    padding: 0 1vw;
    content: 'What I provid';
    color:crimson;
    font-size:6vw;
    position: absolute;
    background: white;
    bottom: -7vw;
    left: 32vw;


}
.skills .skills1 h1:before{
    content: '';
    background-color: black;
    left:12.6vw;
    width:80vw;
    height: 0.5vw;
    position: absolute;
    bottom:-3.8vw;
}
.skills .skills2{
    position: relative;
   
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 18vw;
  margin-left: 0;

}
.skills2 .skills2a{

    font-size: 4vw;
    padding: 3vw;
    height: auto;
    width: auto;

}
.skills2 .skills2a button{
    font-size: 6vw;
    border-radius: 3vw;
    padding: 1vw;
    margin-top: 4vw;
}
.skills2 .skills2a p{
    
    margin-top: 3vw;
    
    
}
.skills2 .skills2b{
   
    margin-left: 0;
    position: relative;
    bottom: 0;
    width: auto;
    height: auto;
    margin-bottom: 10vw;
    

}
.box1{
    width: 90vw;
    
    margin-top: 2vw;

}
.box1 span{
    width: 80vw;
    height: 4vw;
    font-size: 6vw;

}
.box1 p{
   
    height: 4vw;
    font-size: 5vw;

}
.mt{
    margin-top: 4vw;
}
.pd{
    padding: 1vw;
    color:black;
    font-size: 4vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* contact  */
.contact{
  
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.contact .contact1{
        
    font-size: 5vw;
    width: auto;
   
}
.contact .contact1 h1:after{
    padding: 0 3vw;
    content: 'Get in touch';
    color:crimson;
    font-size:6vw;
    position: absolute;
    background: black;
    bottom: -9vw;
    margin-top: 5vw;
    left: 5vw;
    
    width: 40vw;


}
.contact .contact1 h1:before{
    content: '';
    background-color: white;
    left:-11vw;
    width:80vw;
    height: 0.5vw;
    position: absolute;
    bottom:-6.5vw;
}





.contact .contact2{
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: 0;
    height: auto;

}


.contact2 .contact2a{
   
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   

}
.contact2 .contact2a1{
    margin-top: 20vw;
    width: auto;
    display: flex;
    flex-direction: column;
  
   
    
}
.contact2 .contact2a1 span{
    font-size: 9vw;
}
.contact2 .contact2a1 p{
   text-align: justify;
font-size: 7vw;
width: 90vw;
padding: 3vw;
margin-top: 1vw;
}




.contact2 .contact2a2{
   margin-top: 20vw;
    height: auto;
    font-size: 4vw;
    width: auto;
    

}
.pd4{
    padding: 0 4vw;
}
.contact2a2 .name i{
   font-size: 8vw;
   color:white;
   padding:0 4vw;
   

}
.contact2a2 .name1 p{
    font-size: 6vw;
   
} 
.contact2a2 .address i{
    font-size: 8vw;
    color:white;
    padding:0 4vw;

 
 }
 .contact2a2 .address1 p{
     font-size: 6vw;
   

 } 
 .contact2a2 .email i{
    font-size: 6vw;
    color:white;
    padding:0 4vw;

    

 
 }
 .contact2a2 .email1 p{
     font-size: 5vw;
   
  

 } 
 .contact2a2 .email1 p a{
    font-size: 6vw;
   

 }
 .contact2a2 .address1 p a{
    font-size: 6vw;
 }
.contact2 .contact2b{
   
    position: relative;
    height: auto;
    width: 80vw;
    font-size: 4vw;
    margin-left: 6vw; 
    margin-top: 8vw; 
    padding: 2vw;
    
}
.contact2 .contact2b h2{
color:white;
}
.contact2b form .formt{
padding: 3vw 0;

}
.contact2b form input{
    width: 90vw;
    font-size: 6vw;
    color:white;
    height: 15vw;
    
    border: 0.5vw solid white;
}
.contact2b form input::placeholder{
    font-size: 5vw;
}
.contact2b form textarea::placeholder{
    font-size: 5vw;
}
.formb textarea{
    font-size: 6vw;
    width:90vw;
    height: 20vw;
    border:0.5vw solid white;
    

}
.contact2b .formt input[placeholder="Email.."]{
   position: relative;
   right: 1vw;
   top:1vw;
}
.contact2b .formb input[placeholder="Subject.."]{
   font-size: 6vw;
width: 90vw;
height: 15vw;
color:white;
}
.contact2b button{
    font-size: 6vw;
    border-radius: 2vw;
    padding: 2vw;
    margin-top: 5vw;
}

.footer{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: auto;

}
.footer .contact3{
margin-top: 20vw;
height: 20vw;
width: auto;


}
.footer p{
    height:20vw;
    font-size: 4vw;
    
}
.footer .contact3 ul li {
    padding: 3vw;
    
}
.footer .contact3 ul li a i{
    font-size: 8vw;
}

}
#rightButn{
   opacity: 0;
    transition: opacity 0.5s;
}

